@charset "UTF-8";
/* CSS Document */

body {
font: 14px;
font-style: bold;
font-family: "Courier New", Courier;
margin: 0;
padding: 0;
}

.wrapper {
	width: 900px;
	margin: 0 auto;
	background-color: #eee;
	height: 100%;
}
nav {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 20px;
    border: 2px solid transparent;
}
nav a:hover {
	color: #9C0310;
	border: 2px dotted #9C0310;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

.form{
    margin: 0 auto;
}

.form h4{
    font-size: 20px;
}

.results a{
	text-decoration: none;
	color: black;
}

.results h4:hover {
	background-position: 0px auto;
	background-position: 200px 0%;
}
.results #hipster1{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/hipstersprite1.jpg);
}
.results #hipster2{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/hipstersprite2.jpg);
}
.results #hipster3{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/hipstersprite3.jpg);
}
.breakdown #hipster {
	border: 5px solid #060606;
	width: 800px;
	height: 200px;
	margin: 30px;
	display: block;
	background-image: url(Images/hipsterbreakdown1.jpg);
}
.breakdown #hipster:hover {
	border: 5px solid #060606;
	width: 800px;
	height: 200px;
	margin: 30px;
	display: block;
	background-image: url(Images/hipsterbreakdown2.jpg);
}


.results #urban1{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/urbansprite1.jpg);
}
.results #urban2{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/urbansprite2.jpg);
}
.results #urban3{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/urbansprite3.jpg);
}

.breakdown #urban {
	background-image: url(Images/urbanbreakdown1.jpg);
	width: 800px;
	height: 200px;
}
.breakdown #urban:hover  {
	background-image: url(Images/urbanbreakdown2.jpg);
}

.results #americana3{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/americanasprite3.jpg);
}
.results #americana2{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/americanasprite2.jpg);
}
.results #americana1{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	width: 200px;
	height: 300px;
	float: left;
	background-image: url(Images/americanasprite1.jpg);
}

.breakdown #americana{
	width: 800px;
	height: 200px;
	border: 5px;
	border-color: black;
	border-style: solid;
	float: left;
	position: relative;
	background-image: url(Images/americanabreakdown1.jpg);
}
.breakdown #americana:hover {
	width: 800px;
	height: 200px;
	border: 5px;
	border-color: black;
	border-style: solid;
	float: left;
	position: relative;
	background-image: url(Images/americanabreakdown2.jpg);
}

.breakdown h4{
	border: 5px;
	border-color: black;
	border-style: solid;
	float: left;
	position: relative;
}

.sideimage {
	border: 10px solid black;
	width: 300px;
	height: 460px;
	float: left;
	margin-right: 12px;
	background-image: url(Images/Ask-Me.jpg);
}

.signup{
    margin-left: 20px;
    float: left;
}

.sell{
    display: block;
    float: left;
    max-width: 500px;
    min-width: 400px;
}

h6{
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    padding: 0;
    display: inline-block;
    width: 120px;
    text-align: right;
    margin: 5px 0;
}

input {
    background-color: red;
    color: white;
    border: none;
    outline: none;
}

.closet {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	/* [disabled]clear: both; */
}
.closet h4{
	border: 5px;
	border-color: black;
	border-style: solid;
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	width: 200px;
	height: 300px;
	float: left;
}
.closet #closet1 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	/* [disabled]clear: both; */
	background-image: url(Images/americanasprite3.jpg);
}
.closet #closet2 {
	margin-left: 30px;
	margin-right: 30px;
	display: block;
	position: relative;
	/* [disabled]clear: both; */
	background-image: url(Images/hipstersprite3.jpg);
}
.closet #closet3 {
	margin-left: 30px;
	margin-right: 30px;
	display: block;
	position: relative;
	/* [disabled]clear: both; */
	background-image: url(Images/closet3.jpg);
}
.closet #closet4 {
	margin-left: 30px;
	margin-right: 30px;
	display: block;
	position: relative;
	/* [disabled]clear: both; */
	background-image: url(Images/closet4.jpg);
}
.closet #closet5 {
	margin-left: 30px;
	margin-right: 30px;
	display: block;
	position: relative;
	/* [disabled]clear: both; */
	background-image: url(Images/closet5.jpg);
}

.form form a {
	text-decoration: none;
	color: #9C0310;
	font-family: Courier New, Courier;
	font-weight: bold;
}
